#download-button{

    color:black;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 3px 3px 20px purple;
    border: none;
}

#soft {

   
    color: blue;

}

#para {
   
    width: 500px;
    background-color: aquamarine;

color: red;
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
font-size:20px;

}

#span_ {
   
    background-color: rgba(255, 255, 0, 0.554);

}